<div style="text-align: center;">
<h2>Caluculator App</h2>

<span style="display: inline-block;">
  <div style="float: left; margin-top: 40px; margin-right: 10px;"><input [(ngModel)]="num1" type="number" style="width: 100px;"></div>
  <div style="float: left;">
    <button id="plus" (click)="add()">+</button><br>
    <button id="minus" (click)="subtract()">-</button><br>
    <button id="mult" (click)="multiply()">x</button><br>
    <button id="div" (click)="divide()">÷</button>
  </div>
  <div style="float: left; margin-top: 40px; margin-left: 10px;"><input [(ngModel)]="num2" type="number" style="width: 100px;"></div>
  <div style="float: left; margin-top: 35px; margin-left: 10px; font-size: 20pt; font-weight: bold;">=</div> 
  <div style="float: left; margin-top: 40px; margin-left: 10px;"><input type="number" style="width: 100px;" readonly value="{{ result }}"></div>
</span>
</div>

<div style="text-align: center; margin-top: 20px;">
<label>
  How to use: Enter numbers on both sides of the equation and
  press the desired mathematical operation to see the output
</label>
</div>